* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aqua; */
}

.top {
  width: 700px;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.titolo {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  margin: 5px;
  list-style-type: none;
}

.box {
  height: calc(100% - 100px);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  /* background-color: blue; */
}

.wrapper {
  width: 500px;
  height: 150px;
  border: 1px solid red;
  border-radius: 5px;
  /* background-color: bisque; */
  margin-bottom: 10px;
  display: flex;
  padding: 10px;
  /* align-items: center; */
}

.foto {
  width: 150px;
  height: 100%;
  background-color: rgb(128, 78, 16);
}

.foto > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  width: calc(100% - 150px);
  height: 100%;
  /* background-color: aqua; */
  /* overflow: scroll; */
}

.intestazione {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cate {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  /* background-color: blue; */
}

.descrizione {
  width: 100%;
  height: calc(100% - 50px);
  padding-top: 5px;
  border-top: 1px solid grey;
  /* background-color: blueviolet; */
}




